<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dao.mapper.ConstSchoolMapper">
    <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dao.entity.ConstSchool">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
    </resultMap>

    <select id="queryConstSchoolList" resultType="cn.edu.seu.alumni_server.dao.entity.ConstSchool">
        SELECT school_id as schoolId, school_name as schoolName
        FROM const_school
        WHERE school_name LIKE CONCAT('%', #{schoolName}, '%')
    </select>
</mapper>