<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.alumni_server.dataSync.mapper.FriendMapper">
  <resultMap id="BaseResultMap" type="cn.edu.seu.alumni_server.dataSync.entity.Friend">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="friendid" jdbcType="VARCHAR" property="friendid" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
</mapper>